<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chatui.ms.chatui">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name="Global.GlobalChats"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable" />

                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatListMainActivity"
            android:label="@string/title_activity_chat_list_main"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileScreenMainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProfileImageDetailActivity" />
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeImagePicker" />
        <activity
            android:name=".NewGroupAddActivity"
            android:label="@string/title_activity_new_group_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewGroupAddMemberActivity"
            android:label="@string/title_activity_new_group_add_member"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>